---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -zircon-*,
        -llvmlibc-*,
        -readability-identifier-length,
        -concurrency-mt-unsafe,
        -misc-no-recursion,
        -llvm-header-guard,
        -llvm-prefer-static-over-anonymous-namespace,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
  - key: cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value: true
  - key: cppcoreguidelines-pro-bounds-avoid-unchecked-container-access.ExcludeClasses
    value: ::std::map;::std::unordered_map;::std::flat_map;::std::span
